@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/image1.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #322e2bcb;
    border: 2px solid #322e2bcb;
    color: #ebdfcc;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #63645b;
    color: #ebdfcc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url('../img/image2.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #3d2f19c7;
    border: 2px solid #3d2f19c7;
    color: #ebdfcc;
    display: inline-block;
    font-size: 3rem;
    font-weight: 700;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;

}

.quality-image__link a:hover {
    transform: scale(1.2);
}


.quality-text {
    background-color: rgb(78, 65, 44);
    color: #ebdfcc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;

}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


.origin-image {
    background-attachment: fixed;
    background-image: url('../img/image3.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: rgba(109, 52, 19, 0.773);
    border: 2px solid rgba(129, 53, 9, 0.773);
    color: #ebdfcc;
    display: inline-block;
    font-size: 3rem;
    font-weight: 700;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;

}

.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #4e2f18;
    color: #ebdfcc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;

}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: rgb(31, 25, 20);
    color: #ebdfcc;
    font-size: 1.5rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #ebdfcc;
    text-decoration: none;

}

.footer ul li:hover {
    transform: scale(1.2);
}